@model QLBS.Models.TacGia

@{
    ViewBag.Title = "Details";
}

<h2>Thông tin</h2>

<div>
    <h4>TacGia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenTacGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTacGia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaTacGia }) |
    @Html.ActionLink("Quay Lại", "Index")
</p>
